{% extends 'layout/base.html' %}

{% block title %}
Đăng Nhập
{% endblock %}


{% block content %}

<h1 class="text-center text-info">Đăng Nhập Người Dùng</h1>
{% if error_msg %}
<div class="alert alert-danger">
    {{ error_msg }}
</div>
{% endif %}


<div class="login-box" xmlns="http://www.w3.org/1999/html">
  <h2>Đăng Nhập</h2>
  <form method="post">
    <div class="user-box">
      <input type="text" name="username"  id="username" required>
      <label for="username">Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" id="password" required>
      <label for="password">Password</label>
    </div>
    <input type="submit" value="Đăng Nhập" class="btn">


    <div class="text">
      <p>Chưa có tài khoản</p>
      <a href="{{ url_for('register') }}" class="btn-login">
       Đăng Ký Tại Đây</a>
    </div>
  </form>
</div>

{% endblock %}