{% extends 'admin/base.html' %}
{% block body %}
{% if current_user.is_authenticated %}
<h1>WELCOME <span class="text-danger">{{ current_user.name }}</span> TO ADMINISTRATION PAGE!!!</h1>

<div class="row">
  <div class="col-md-5 col-xs-12">
    <table class="table">
      <tr>
        <td>Ma danh muc</td>
        <td>Ten danh muc</td>
        <td>So san pham</td>
      </tr>
    </table>
  </div>
</div>
{% else %}

<h1 class="text-center text-danger">LOGIN</h1>
<form method="post" action="{{ url_for('home') }}">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               name="username"
               id="username"
               class="form-control"
               placeholder="Username..."/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               name="password"
               id="password"
               class="form-control"
               placeholder="Password..."/>
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-danger" />
    </div>
    <div>
        <p>
            Don't you have account?
            <a href="{{ url_for('home') }}">Sign Up Here</a>
        </p>
    </div>
</form>
{% endif %}
{% endblock %}